@page {
    size: A4 portrait;
}

@page :first { 
  margin-top: 4cm; 
}

@page :left  { 
  margin-right: 2.5cm; 
}

@page :right { 
  margin-left: 2.5cm; 
}

@page { 
  margin: 0 1cm; 
}

@page:right{
  @bottom-right {
    content: counter(page);
  }
}

@page:left{
  @bottom-left {
    content: counter(page);
  }
}

h1 { 
  break-before: page;
}

h2, h3, h4, h5, h6 {
    break-after: avoid-page;
  }

h1[id]::after,h2[id]::after,h3[id]::after {
  content:" [#"attr(id)"]";
  color: #888;
  background-color: inherit;
  font-style: italic;
  size: 80%;
}
 /* Kapitel */
body {
  counter-reset: chapternum;
}

h1.chapter:before {
  counter-increment: chapternum;
  content: counter(chapternum) ". ";
}

/* Figure */

h1 {
  counter-reset: figurenum;
}

h1.title:before {
  counter-increment: chapternum;
  content: counter(chapternum) ". ";
}

figcaption:before {
  counter-increment: figurenum;
  content: counter(chapternum) "-" counter(figurenum) ". ";
}

img, svg, table, figure, canvas {
  break-inside: avoid;
}

p {
  orphans: 3;
    widows: 3;
}

body { 
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #000; 
    background: none; 
    font-size: 14pt;
}

img {
    float: left;
    margin: 1em 1.5em 1.5em 0;
    max-width: 100% !important;
}

a:link, a:visited {
    background: transparent;
    text-decoration:
    underline;color:#333;
}

a:link[href^="https://"]:after, a[href^="https://"]:visited:after {
    content: " (" attr(href) ") "; font-size: 90%;
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

/* Don't show linked images  */
a[href^="http://"] {
    color:#000;
}

a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display:none;
}

a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
}

/* Table */
table {
    margin: 1px;
    text-align:left;
}

th {
    border-bottom: 1px solid #333;
    font-weight: bold
}

td {
    border-bottom: 1px solid #333;
}

th, td {
    padding: 4px 10px 4px 0;
}

tfoot {
    font-style: italic;
}

caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
}

thead {
    display: table-header-group;
}

img, tr {
    page-break-inside: avoid;
}
